@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #000000;
    color: #ffffff;
    font-family: Overpass;
    align-items: center;
}

.container {
    background-color: #262626;
    margin: 25px;
}

.navbar {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.navtitle {
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.container .navbar {
    justify-content: space-between;
}

.container .navbar ul li {
    padding: 10px;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.landing_page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.project_page {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.project_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    padding-bottom: 100px;
}

.img_cont {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 2;
}

.img_cont img {
    max-width: 100%;
    padding: 15px;
}

.project_info_text {
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 3;
}

.project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectrows {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    align-items: center;
    -webkit-filter: grayscale(100%);
    opacity: 45%;
    cursor: pointer;
    position: relative;
    margin: 25px;
}

.projectrows:hover {
    opacity: 100%;
    -webkit-filter: grayscale(0%);
}

.projectrows_image {
    grid-column-start: 2;
    grid-column-end: 4;
    max-width: 100%;
}

.projectrows_title {
    grid-column-start: 4;
    grid-column-end: 6;
}

.project_info_text {
    text-align: left;
}